## alumno_: cesar sanchez coronel

In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

df: https://www.kaggle.com/datasets/sahilprajapati143/retail-analysis-large-dataset/data

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/new_retail_data.xlsx",sheet_name="analysis")

In [ ]:
# setea para que se pueda ver todas las columnas
pd.set_option('display.max_columns',None)

In [ ]:
df.head()

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment,Date,Year,Month,Time,Total_Purchases,Amount,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
0,81800500.0,100000,John Patterson,Victoria5@gmail.com,6.855935e+10,136 Perkins Street,Phoenix,North Carolina,284680.0,USA,260.0,Male,Medium,Regular,5/15/2023,20230.0,May,22:59:20,70.0,6.141683e+09,4.299178e+09,Grocery,Coca-Cola,Water,Excellent,Same-Day,PayPal,Delivered,50.0,Sparkling water
1,47596690.0,100000,Robert Cook,Caroline60@gmail.com,8.428883e+10,232 Lawrence Greens,San Antonio,Nevada,892200.0,USA,640.0,Female,Low,Regular,7/30/2023,20230.0,July,05:12:39,60.0,4.471762e+09,2.683057e+09,Electronics,Samsung,Tablet,Average,Express,Debit Card,Pending,20.0,Amazon Fire Tablet
2,89016170.0,100000,Teresa Cole,Molly61@gmail.com,3.057277e+10,14721 Robert Glen Apt. 663,Hamburg,Berlin,567340.0,Germany,220.0,Male,Low,Premium,7/16/2023,20230.0,July,17:54:26,30.0,1.319661e+09,3.958983e+09,Home Decor,Bed Bath & Beyond,Bedding,Good,Express,Credit Card,Delivered,40.0,Quilt
3,43404700.0,100000,Thomas Thompson,Christy6@gmail.com,6.640433e+10,719 Kevin Route,San Francisco,Maine,872880.0,USA,260.0,Male,High,Regular,11/19/2023,20230.0,January,23:15:03,50.0,2.997387e+09,1.498693e+09,Clothing,Nike,Shorts,Good,Same-Day,Cash,Delivered,30.0,Khaki shorts
4,48240500.0,100010,Calvin Brown,Christina64@gmail.com,6.341787e+10,11257 Jennifer Forest,San Francisco,Maine,704600.0,USA,260.0,Male,High,Regular,8/26/2023,20230.0,January,20:10:14,40.0,3.020823e+09,1.208329e+09,Electronics,Apple,Tablet,Good,Express,Credit Card,Delivered,30.0,iPad

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Transaction_ID    301677 non-null  float64
 1   Customer_ID       302010 non-null  int64
 2   Name              301628 non-null  object
 3   Email             301663 non-null  object
 4   Phone             301648 non-null  float64
 5   Address           301695 non-null  object
 6   City              301762 non-null  object
 7   State             301729 non-null  object
 8   Zipcode           301670 non-null  float64
 9   Country           301739 non-null  object
 10  Age               301837 non-null  float64
 11  Gender            301693 non-null  object
 12  Income            301720 non-null  object
 13  Customer_Segment  301795 non-null  object
 14  Date              301651 non-null  object
 15  Year              301660 non-null  float64
 16  Month             301737 non-null  object
 17  Time              301660 non-null  object
 18  Total_Purchases   301649 non-null  float64
 19  Amount            301653 non-null  float64
 20  Total_Amount      301660 non-null  float64
 21  Product_Category  301727 non-null  object
 22  Product_Brand     301729 non-null  object
 23  Product_Type      302010 non-null  object
 24  Feedback          301826 non-null  object
 25  Shipping_Method   301673 non-null  object
 26  Payment_Method    301713 non-null  object
 27  Order_Status      301775 non-null  object
 28  Ratings           301826 non-null  float64
 29  products          302010 non-null  object
dtypes: float64(9), int64(1), object(20)
memory usage: 69.1+ MB

In [ ]:
df.shape

(302010, 30)

In [ ]:
#convirtiendo a datetime
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Transaction_ID    301677 non-null  float64
 1   Customer_ID       302010 non-null  int64
 2   Name              301628 non-null  object
 3   Email             301663 non-null  object
 4   Phone             301648 non-null  float64
 5   Address           301695 non-null  object
 6   City              301762 non-null  object
 7   State             301729 non-null  object
 8   Zipcode           301670 non-null  float64
 9   Country           301739 non-null  object
 10  Age               301837 non-null  float64
 11  Gender            301693 non-null  object
 12  Income            301720 non-null  object
 13  Customer_Segment  301795 non-null  object
 14  Date              301651 non-null  datetime64[ns]
 15  Year              301660 non-null  float64
 16  Month             301737 non-null  object
 17  Time              301660 non-null  object
 18  Total_Purchases   301649 non-null  float64
 19  Amount            301653 non-null  float64
 20  Total_Amount      301660 non-null  float64
 21  Product_Category  301727 non-null  object
 22  Product_Brand     301729 non-null  object
 23  Product_Type      302010 non-null  object
 24  Feedback          301826 non-null  object
 25  Shipping_Method   301673 non-null  object
 26  Payment_Method    301713 non-null  object
 27  Order_Status      301775 non-null  object
 28  Ratings           301826 non-null  float64
 29  products          302010 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(1), object(19)
memory usage: 69.1+ MB

In [ ]:
df.isnull().sum().sort_values(ascending=False)

Name                382
Phone               362
Total_Purchases     361
Date                359
Amount              357
Year                350
Total_Amount        350
Time                350
Email               347
Zipcode             340
Shipping_Method     337
Transaction_ID      333
Gender              317
Address             315
Payment_Method      297
Income              290
Product_Category    283
State               281
Product_Brand       281
Month               273
Country             271
City                248
Order_Status        235
Customer_Segment    215
Feedback            184
Ratings             184
Age                 173
Product_Type          0
Customer_ID           0
products              0
dtype: int64

In [ ]:
df=df.dropna()

In [ ]:
df.shape

(294212, 30)

In [ ]:
df.isnull().sum().sort_values(ascending=False)

Transaction_ID      0
Customer_ID         0
Ratings             0
Order_Status        0
Payment_Method      0
Shipping_Method     0
Feedback            0
Product_Type        0
Product_Brand       0
Product_Category    0
Total_Amount        0
Amount              0
Total_Purchases     0
Time                0
Month               0
Year                0
Date                0
Customer_Segment    0
Income              0
Gender              0
Age                 0
Country             0
Zipcode             0
State               0
City                0
Address             0
Phone               0
Email               0
Name                0
products            0
dtype: int64

In [ ]:
# me indica quienes son los duplicados
duplicados = df.duplicated()
num_duplicados = duplicados.sum()
num_duplicados
if num_duplicados >0 :
  print(df[duplicados])

        Transaction_ID  Customer_ID             Name                  Email  \
33977       44765100.0       201030    Christine Kim      James11@gmail.com
51728       49423260.0       254160    Pamela Martin  Christine83@gmail.com
132668      32007660.0       495980  Mikayla Mueller    Kenneth43@gmail.com

               Phone                      Address       City    State  \
33977   2.383778e+10  8176 Randy Squares Apt. 772  Kitchener  Ontario
51728   6.657934e+10            9851 Myers Tunnel  Leicester  England
132668  6.980439e+10   716 Joshua Rapids Apt. 790     Bremen   Berlin

         Zipcode  Country    Age  Gender Income Customer_Segment       Date  \
33977    70990.0   Canada  540.0  Female    Low          Regular 2023-12-10
51728   576550.0       UK  630.0    Male    Low          Regular 2023-05-05
132668  647470.0  Germany  590.0    Male    Low              New 2023-11-23

           Year     Month      Time  Total_Purchases        Amount  \
33977   20230.0  December  01:09:09             70.0  1.343742e+09
51728   20230.0       May  04:17:21             80.0  1.919069e+09
132668  20230.0  November  15:35:49             90.0  2.723274e+08

        Total_Amount Product_Category Product_Brand Product_Type Feedback  \
33977   9.406193e+08         Clothing        Adidas      T-shirt      Bad
51728   1.535255e+09         Clothing        Adidas       Jacket  Average
132668  2.450947e+09          Grocery         Pepsi   Soft Drink      Bad

       Shipping_Method Payment_Method Order_Status  Ratings  \
33977          Express    Credit Card   Processing     10.0
51728         Same-Day           Cash      Pending     20.0
132668        Standard           Cash      Pending     10.0

                    products
33977   Off-the-shoulder tee
51728         Varsity jacket
132668              Iced tea

In [ ]:
df.shape

(294212, 30)

In [ ]:
# quitando los 3 duplicados
df_sin_duplicados = df.drop_duplicates()
df = df_sin_duplicados

In [ ]:
df.shape

(294209, 30)

In [ ]:
df.head(3)

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment,Date,Year,Month,Time,Total_Purchases,Amount,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
0,81800500.0,100000,John Patterson,Victoria5@gmail.com,6.855935e+10,136 Perkins Street,Phoenix,North Carolina,284680.0,USA,260.0,Male,Medium,Regular,2023-05-15,20230.0,May,22:59:20,70.0,6.141683e+09,4.299178e+09,Grocery,Coca-Cola,Water,Excellent,Same-Day,PayPal,Delivered,50.0,Sparkling water
1,47596690.0,100000,Robert Cook,Caroline60@gmail.com,8.428883e+10,232 Lawrence Greens,San Antonio,Nevada,892200.0,USA,640.0,Female,Low,Regular,2023-07-30,20230.0,July,05:12:39,60.0,4.471762e+09,2.683057e+09,Electronics,Samsung,Tablet,Average,Express,Debit Card,Pending,20.0,Amazon Fire Tablet
2,89016170.0,100000,Teresa Cole,Molly61@gmail.com,3.057277e+10,14721 Robert Glen Apt. 663,Hamburg,Berlin,567340.0,Germany,220.0,Male,Low,Premium,2023-07-16,20230.0,July,17:54:26,30.0,1.319661e+09,3.958983e+09,Home Decor,Bed Bath & Beyond,Bedding,Good,Express,Credit Card,Delivered,40.0,Quilt

In [ ]:
#fecha de referencia
fecha_referencia = datetime(2024,8,1)

In [ ]:
rfm_df = df.groupby('Customer_ID').agg(
    Recencia = ('Date',lambda x: (fecha_referencia -x.max()).days),
    Frecuencia = ('Date','count'),
    Monto = ('Total_Amount','sum')
)

In [ ]:
rfm_df.shape

(86782, 3)

In [ ]:
rfm_df

             Recencia  Frecuencia         Monto
Customer_ID
100000            256           4  1.243991e+10
100010            258           5  1.686044e+10
100020            248           5  1.555659e+10
100030            381           2  6.388342e+09
100040            184           2  2.356517e+09
...               ...         ...           ...
1002990           290           1  2.767615e+09
1003000           180           1  1.297810e+09
1003010           236           1  1.334031e+08
1003020           269           1  2.460938e+09
1003030           306           1  1.701897e+09

[86782 rows x 3 columns]

In [ ]:
# uniendo el df anterior y el nuevo rfm
df2 = pd.merge(df,rfm_df,how='inner',on='Customer_ID')
df2.head(4)

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment,Date,Year,Month,Time,Total_Purchases,Amount,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products,Recencia,Frecuencia,Monto
0,81800500.0,100000,John Patterson,Victoria5@gmail.com,6.855935e+10,136 Perkins Street,Phoenix,North Carolina,284680.0,USA,260.0,Male,Medium,Regular,2023-05-15,20230.0,May,22:59:20,70.0,6.141683e+09,4.299178e+09,Grocery,Coca-Cola,Water,Excellent,Same-Day,PayPal,Delivered,50.0,Sparkling water,256,4,1.243991e+10
1,47596690.0,100000,Robert Cook,Caroline60@gmail.com,8.428883e+10,232 Lawrence Greens,San Antonio,Nevada,892200.0,USA,640.0,Female,Low,Regular,2023-07-30,20230.0,July,05:12:39,60.0,4.471762e+09,2.683057e+09,Electronics,Samsung,Tablet,Average,Express,Debit Card,Pending,20.0,Amazon Fire Tablet,256,4,1.243991e+10
2,89016170.0,100000,Teresa Cole,Molly61@gmail.com,3.057277e+10,14721 Robert Glen Apt. 663,Hamburg,Berlin,567340.0,Germany,220.0,Male,Low,Premium,2023-07-16,20230.0,July,17:54:26,30.0,1.319661e+09,3.958983e+09,Home Decor,Bed Bath & Beyond,Bedding,Good,Express,Credit Card,Delivered,40.0,Quilt,256,4,1.243991e+10
3,43404700.0,100000,Thomas Thompson,Christy6@gmail.com,6.640433e+10,719 Kevin Route,San Francisco,Maine,872880.0,USA,260.0,Male,High,Regular,2023-11-19,20230.0,January,23:15:03,50.0,2.997387e+09,1.498693e+09,Clothing,Nike,Shorts,Good,Same-Day,Cash,Delivered,30.0,Khaki shorts,256,4,1.243991e+10

In [ ]:
df2.shape

(294209, 33)